.last-articles-bar {
  padding-top: 5px;
  overflow: hidden;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 1fr;
}

.article-background-image {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2),
              0 2px 8px 0 rgba(0,0,0,0.19);
  transition: 1.5s;
}

.article-details-container {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  overflow: hidden;
}

.article-meta {
  /*margin-top: auto;*/
  /*bottom: 200px;*/
  color: white;
  bottom: 20%;
  position: absolute;
  transition: 1.5s;
  transform: translateY(100%);
}

.article-title-link {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  transition: 1.5s;
  transform: translateY(-100%);
}

.article-description {
  text-align: left;
  padding: 10px;
  transition: 1.5s;
  opacity: 0;
  flex: 1;
}

.minor-article-preview .article-details-container .article-meta{
  bottom: 25%;
}

.article-details-container:hover .article-background-image{
  transform: scale(1.1);
}

.article-details-container:hover .article-meta {
  bottom: 0;
  transform: translateY(0);
}

.article-details-container:hover .article-title-link {
  color: red;
  transform: translateY(0%);
}

.article-details-container:hover .article-description {
  opacity: 1;
}

